streamlit>=1.27.1
st-files-connection>=0.0.5
pandas>=1.5
numpy>=1.21
matplotlib>=3.5
plotly>=5.18
google-cloud-storage>=2.12.0
google-auth>=2.20
dask>=2023.3.2  # if using Dask for large CSVs
gcsfs
